node_modules
vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
storage/*.key
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
tests
*.md
.github
.gitlab-ci.yml

